<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <title>Project</title>
    <style>
    body {
        background: #fcfcfc;
    }
    </style>
</head>
<body>
      <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Korjik-chat</h5>
       
        <a class="btn btn-outline-primary" href="#">Авторизация</a>
      </div>

      <div class="container">
          <div class="py-5 text-center">
              <h2>Чат программа</h2>
              <p class="lead">Укажите ваше имя и начинайте переписку</p>
          </div>
          
          <div class="row">
              <div class="col-6">
                  <h3>Форма сообщений</h3>
                  <form id="messForm" method="post" action="/">
                    <label for="name">Имя</label>
                    <input type="text" name="name" id="name" placeholder="Введите имя" class="form-control">
                  </br>
                  <label for="name">Сообщение</label>
                    <textarea name="message" id="message" class="form-control" placeholder="Введите сообщение"></textarea>
                    <br>
                    <input type="submit" value="Отправить" class="btn btn-danger">
                  </form>
              </div>

              <div class="col-6">
                    <h3>Сообщение</h3>
                  <div id="all_mess"></div>
                  
              </div>
          </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script>
      $(function() {
        var socket = io.connect();// подключение пользователя 
        var $form = $("#messForm");
        var $name = $("#name");
        var $textarea = $("#message");
        var $all_messages = $("#all_mess");

        $form.submit(function(event) {
          console.log("ajax submit");
            event.preventDefault(); //без перезагурзи странички
            socket.emit('send mess', {mess: $textarea.val(), name: $name.val()});//вызывает событие соединение
            $textarea.val('');//очистка сообщения 
            $.ajax({
              method:"POST",
              url:"/",
              "data" :{data: "name", data: "mess" } ,
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              success: function( data, textStatus, jQxhr ){
            $('#response pre').html( data );
              },
              error: function( jqXhr, textStatus, errorThrown ){
              console.log( errorThrown );
    }
            });

        });

        socket.on('add mess', function(data){
            $all_messages.append("<div><b>" + data.name + "</b>: " + data.mess + "</div>");
         });

      });
      </script>
</body>
</html>